/*-----------------RESET CSS-------------------*/

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------CUSTOM CSS-------------------*/

.page-container {
  height: 100%;
  width: 100%;
}

.mpc-container {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
  border: 2px black solid;
  vertical-align: middle;
	background-color: #595657;
}

.pads-container {
  margin: 10px;
  width: 500px;
  height: 450px;
  text-align: center;
	background-color: white;
	/*border: 3px #C87B25 solid;*/
	border-radius: 8px 0 0 8px;
	background-color: #595657;
	margin-top: 20px;
	margin-left: 20px;
	border-top: 3px #C87B25 solid;
	border-right: 1.7px #C87B25 solid;
	border-bottom: 3px #C87B25 solid;
	border-left: 3px #C87B25 solid;
	position: relative;
	left: 2px;
}

.under-pads-container {
	margin-right: 15px;
	margin-top: 20px;
}

.container-single-pad {
	background-color: black;
	display: inline-block;
	height: 117px;
	width: 140px;
	position: relative;
	top: 10px;
	left: 10px;
	margin: 3px;
	padding: 3px;
}

.note-key {
  position: relative;
  top: 10px;
	border-radius: 12px;
  display: inline-block;
  height: 100px;
  width: 120px;
	cursor: pointer;
	background-color: #454040;
}

.note-key:active {
	background-color: #353435;
	color: white;
}

.infos-box-wrapper {
	width: 250px;
	height: 450px;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-right: 20px;
	display: inline-block;
	float: right;
	position: relative;
	bottom: 20px;
	border-radius: 0 8px 8px 0;
	border-top: 3px #C87B25 solid;
	border-right: 3px #C87B25 solid;
	border-bottom: 3px #C87B25 solid;
	border-left: 1.7px #C87B25 solid;
}

.infos-box {
  float: right;
  border: 2px black solid;
  width: 200px;
  height: 400px;
  margin: 30px;
	background-color: #A9A9A9;
	position: relative;
	bottom: 8px;
	left: 8px;
}

.screen {
  /*border: 2px black solid;*/
	border-right: 2px #eee solid;
	border-top: 2px #eee solid;
	border-left: 2px #595657 solid;
	border-bottom: 2px #595657 solid;
  margin: 20px;
  height: 60px;
	cursor: pointer;
	background-color: #EE2C2C;
}

.screen-text {
	font-family: Orbitron;
	color: #991D2D;
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 10px;
}

.volumes-container-fuck-red {
  background-color: white	;
}

#chuck-norris {
	/*border: red 1px solid;*/
	/*position: relative;
	top: 40px;*/
	margin-top: 40%;
}

.volume-cursor1 {
  border-radius: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 5px;
  height: 5px;
	cursor: pointer;
}

.volume-cursor1:active {
	background-color: #eee;
}

.volume-cursor2 {
  border-radius: 50%;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  width: 5px;
  height: 5px;
  margin-top: 20px;
	cursor: pointer;
}

.volume-cursor2:active {
	background-color: #eee;
}


/*Possible volume slider*/

/*#player-volume-wrapper {
    background: rgb(17, 17, 17);
    background: -webkit-gradient(radial, center center, 0, center center, 40%,
    	from(rgba(100, 100, 100,0.5)), to(rgba(17, 17, 17,0))) no-repeat
    	url(http://iviewsource.com/exercises/audioslider/images/backgroundpattern.png),
    	rgb(17, 17, 17);
    background: -webkit-radial-gradient(rgba(100, 100, 100,0.5),
    	rgba(17, 17, 17,0) 40%) no-repeat,
    	url(http://iviewsource.com/exercises/audioslider/images/backgroundpattern.png),
    	rgb(17, 17, 17);
    background: -moz-radial-gradient(rgba(100, 100, 100,0.5),
    	rgba(17, 17, 17,0) 40%) no-repeat,
    	url(http://iviewsource.com/exercises/audioslider/images/backgroundpattern.png),
    	rgb(17, 17, 17);
    background: -ms-radial-gradient(rgba(100, 100, 100,0.5),
    	rgba(17, 17, 17,0) 40%) no-repeat,
    	url(http://iviewsource.com/exercises/audioslider/images/backgroundpattern.png),
    	rgb(17, 17, 17);
    background: -o-radial-gradient(rgba(100, 100, 100,0.5),
    	rgba(17, 17, 17,0) 40%) no-repeat,
    	url(http://iviewsource.com/exercises/audioslider/images/backgroundpattern.png),
    	rgb(17, 17, 17);
    background: radial-gradient(rgba(100, 100, 100,0.5),
    	rgba(17, 17, 17,0) 40%) no-repeat,
    url(http://iviewsource.com/exercises/audioslider/images/backgroundpattern.png),
    rgb(17, 17, 17);
}

#player {
    width: 350px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    top: 150px;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-background.png') no-repeat left top;
}

#volume-slider {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height:15px;
    width: 300px;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-empty.png') no-repeat left top;
  border: none;
  outline: none;
}

#volume-slider .ui-slider-range-min {
    height:15px;
    width: 300px;
    position: absolute;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-full.png') no-repeat left top;
  border: none;
  outline: none;
}

#volume-slider .ui-slider-handle {
    width: 38px;
    height:39px;
    background: url('http://iviewsource.com/exercises/audioslider/images/volume-knob.png') no-repeat left top;
    position: absolute;
    margin-left: -15px;
    cursor: pointer;
    outline: none;
    border: none;
}*/


#volume-slider {
	width: 200px;
	height: 1px;
	border: 10px black solid;
	border: 3px black solid;
	margin: 20px;
	position: relative;
	bottom: 50px;
}

/* Help mini slider */

.onoffswitch {
    position: relative;
		width: 52px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 35px;
		margin-bottom: 10px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 10px; padding: 0; line-height: 10px;
    border: 0px solid #FFFFFF; border-radius: 26px;
    background-color: #9E9E9E;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 26px; margin: -8px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 35px;
    border-radius: 26px;
    box-shadow: 0 6px 12px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #E8E7D0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #E8E7D0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background-color: #2F57AD;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.help {
	position: relative;
	top: 50px;
}

.lightening-dot {
	border-radius: 50%;
	background-color: #490808;
	padding: 5px;
	width: 3px;
	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.note-key:active .lightening-dot {
	background-color: red;
}
